.c-Manage-training-record {
    .c-Fields {
        display: flex;
        flex-direction: row;
        &__Left {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
        }
    
        &__Right {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
        }
    
        .c-Field {
          h2 {
            font-size: small;
            font-weight: bold;
          }
          p {
            font-size: small;
          }
          padding: 20px 0;
        }
      }
    
      &__Danger {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        .c-Danger {
          &__Top {
            h1 {
              font-size: $font-small;
              font-weight: bold;
              padding-bottom: 10px;
            }
          }
          &__Contents {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
              font-size: $font-small;
              font-weight: bold;
              color: $button-alert;
              padding-left: 20px;
            }
          }
        }
      }
}