.c-Manage-invites {
    &__Send-email {
        margin: 20px 0;

        h2 {
            font-size: $font-medium;
            font-weight: bold;
        }

        .c-Send-email__Input {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 10px 0;

            .c-Input__Row {
                margin-top: 5px;

                input {
                    width: 100%;
                    border: 1px solid black;
                    padding: 5px 12px;
                    border-radius: 5px;
                }
            }


        }

        button {
            margin-top: 10px;
        }
    }

    &__Table {
        h2 {
            font-size: $font-medium;
            font-weight: bold;
        }

        .c-Table {
            margin-top: 10px;

            &__Top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                //   Search bar
                .search-label {
                    width: 100%;

                    // Hide react table's "search this table" text
                    input {
                        width: 100%;
                    }

                    span {
                        display: none;
                    }
                }

                //   Clear btn
                .c-Table__Clear-btn {
                    &:hover {
                        text-decoration: underline;
                        opacity: 0.7;
                    }
                }

                // Add role btn

            }
        }
    }
}