.c-Manage-equipment-maintainance {
  .c-Manage-equipment-maintainance__Cycles-top {
    padding-top: 50px;
  }
  .c-Danger-zone__Title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 21px;
  }
  .c-Danger-zone__Row {
    padding-top: 10px;

    .c-Danger-zone__Item {
      display: flex;
      justify-content: left;
      align-items: left;
      flex-direction: row;
      width: 100%;
      max-width: 100%;
    }

    .c-Row__Info {
      padding-top: 10px;
      padding-left: 20px;
    }
  }
  .l-Manage-equipment__Inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 0;
    padding-top: 30px;

    &--row {
      width: 100%;
      margin: 5px 0;
      .c-Input {
        width: 100%;
        max-width: 25%;
        padding-bottom: 20px;
        label {
          font-weight: bold;
        }
        &--read-only {
          input {
            // background-color: #e8e8e8;
            border: none;
            padding-left: 0px;
          }
        }
        &--edit {
          input {
            border-radius: 5px;
            border: thin solid black;
            outline: none;
            padding-left: 10px;
            width: 100%;
          }
        }
        input {
          border-radius: 5px;
          outline: none;
          // padding-left: 10px;
          width: 100%;
        }
      }

      .c-Input:first-of-type {
        margin-right: 20px;
      }
      .c-Input:last-of-type {
        margin-left: 20px;
      }
    }
    .c-Manage-equipment__Btns {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin: 20px 0;
      button {
        width: fit-content;
      }
    }
  }
}
