.c-Training {
  &__Records {
    padding-top: 50px;
    h2 {
      font-size: $font-medium;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }

  &__Requests {
    padding-top: 50px;
    .c-Requests__Top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 10px;

      h2 {
        font-size: $font-medium;
        font-weight: bold;
      }
    }
  }
}
