.c-Manage-chart {
    &__Inputs {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        .c-Input {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            h1 {
                font-size: $font-small;
                font-weight: bold;
            }

            p {
                font-size: $font-small;
            }

            button {
                padding: 0;
            }

            input,
            textarea {
                border-radius: 5px;
                border: thin solid black;
                padding: 0 10px;
                height: fit-content;
            }
        }
    }
}