// react-confirm-alert styles
.c-Confirm-alert {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  min-width: 500px;
  width: 100%;
  padding: 30px 60px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgb(0 0 0 / 13%);
  color: #666;

  &--new-template {
    input {
      border-radius: 5px;
      border: 1px solid black;
      margin: 20px 0;
      padding: 4px 10px;
      width: 100%;
    }
  }

  &--training-record-file-upload {
    h1 {
      color: black;
      font-size: $font-large;
      font-weight: bold;
      font-size: $font-large;
      text-align: center;
    }

    .c-Confirm-alert__File {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        font-size: $font-small;
        color: black;
        margin: 20px 0;
      }
    }
  }

  &--rejected-delete {
    p {
      font-size: $font-small;
      color: black;
      margin: 20px 0;
    }
  }
  &--send-invite {
    p {
      font-size: $font-small;
      color: black;
      margin: 20px 0;
    }
  }
  &--activate-user {
    p {
      font-size: $font-small;
      color: black;
      margin: 20px 0;
    }
  }

  h1 {
    font-size: $font-medium;
    font-weight: bold;
    color: black;
  }

  &__Remarks {
    h2 {
      font-size: $font-small;
      font-weight: bold;
      color: black;
      padding-top: 20px;
    }

    textarea {
      width: 100%;
      border-radius: 5px;
      padding-left: 10px;
    }
  }

  &__Buttons {
    width: 100%;
    display: flex;
    flex-direction: row;

    button {
      margin-right: 10px;
    }

    button:first-of-type {
      margin-left: 0;
    }
  }
}
