.c-Evaluation-qns {
    &__Edit {
        .c-Top {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 10px 0;
            &__Left {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                label {
                    font-size: $font-small;
                    font-weight: bold;
                }
                input {
                    margin-left: 10px;
                    padding: 3px 10px;
                    width: 90%;
                    border: 1px solid black;
                    border-radius: 5px;
                    font-size: $font-small;
                    outline: none;
                }
            }

            &__Right {
                display: flex;
                flex-direction: row;
                width: 50%;
                label {
                    white-space: nowrap;
                    font-size: $font-small;
                    font-weight: bold;
                }
                select {
                    margin-left: 10px;
                    padding: 3px 10px;
                    width: 100%;
                    border: 1px solid black;
                    border-radius: 5px;
                    outline: none;

                    option {
                        margin-left: 10px;
                    }
                }
            }
        }
        .c-Evaluation-qns__Types {
            display: flex;
            flex-direction: row;
            align-items: center;
            .c-Evaluation-qns__Type {
                width: 100%;
                &--boolean {
                    padding: 20px 0;
                    label {
                        padding-left: 10px;
                    }

                    input {
                        cursor: pointer;   
                    }
                }

                &--rating {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 20px 0;

                    .c-Evaluation-qns__Option {
                        display: flex;
                        flex-direction: column;
                        max-width: 100px;
                        align-items: center;

                        label {
                            text-align: center;
                        }
                    }
                }

                &--open {
                    padding: 20px 0;
                    textarea {
                        width: 100%;
                        padding: 3px 10px;
                        outline: none;
                        border: 1px solid black;
                        border-radius: 5px;
                    }
                }

                &--default {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    padding: 20px 0;
                    p {
                        font-weight: bold;
                        font-size: $font-small;
                    }
                }
            }

            .c-Evaluation-qns__Del {
                margin-left: 10px;

                .c-Delete {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
    
                    &:active {
                        opacity: 0.7;
                    }
                }

            }
        }
    }

    &__View {
        .c-Top {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0;
            p {
                font-size: $font-small;
                font-weight: bold;
            }

            p:nth-of-type(2) {
                padding-left: 10px;
            }
        }
        .c-Evaluation-qns__Types {
            .c-Evaluation-qns__Type {
                &--boolean {
                    padding: 20px 0;
                    label {
                        padding-left: 10px;
                    }

                    input {
                        cursor: pointer;   
                    }
                }

                &--rating {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 20px 0;

                    .c-Evaluation-qns__Option {
                        display: flex;
                        flex-direction: column;
                        max-width: 100px;
                        align-items: center;

                        label {
                            text-align: center;
                        }
                    }
                }

                &--open {
                    padding: 20px 0;
                    textarea {
                        width: 100%;
                        padding: 3px 10px;
                        outline: none;
                        border: 1px solid black;
                        border-radius: 5px;
                    }
                }

                &--default {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    padding: 20px 0;
                    p {
                        font-weight: bold;
                        font-size: $font-small;
                    }
                }
            }
        }
    }
}